In [54]:
# Import dependencies and setup
import pandas as pd
import numpy as np

# file to load
captivateiq_data_to_load = (r"C:\Users\Vyral\Downloads\CaptivateIQ Homework\Resources\CaptivateIQ - Exercise Data.csv")

# Read data into a Data Frame
captivateiq_deal_data_df = pd.read_csv(captivateiq_data_to_load)

In [55]:
captivateiq_deal_data_df.head(10)

,Opportunity_ID,Closed_Won_Date,Owner_User_ID,Contract_Length_(Months),Total_Contract_Value,First_Payment_Date
0,10286,1/1/2022,A,30,15600,1/20/2022
1,10272,1/11/2022,B,36,1800,2/1/2022
2,10230,1/16/2022,D,12,5500,1/20/2022
3,10237,1/20/2022,B,20,17000,12/9/2021
4,10110,1/22/2022,D,12,6000,3/29/2022
5,10281,1/26/2022,A,12,5115,2/23/2022
6,10276,1/27/2022,A,12,14412,2/1/2022
7,10133,1/31/2022,C,36,15260,3/5/2022
8,10271,1/31/2022,A,12,12000,2/10/2022
9,10282,2/1/2022,B,36,6589,2/22/2022

In [56]:
captivateiq_deal_data_df.dtypes

Opportunity_ID               int64
Closed_Won_Date             object
Owner_User_ID               object
Contract_Length_(Months)     int64
Total_Contract_Value         int64
First_Payment_Date          object
dtype: object

In [58]:
# Determine the Commissionable ARR by deal
Commissionable_ARR = Total_Contract_Value / Contract_Length_(Months) * 12

NameError: name 'Total_Contract_Value' is not defined